doctype html
html(lang='en')
	head
		meta(name="robots",content="none")
		meta(http-equiv="content-type",content="text/html")
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible",content="IE=7")
		meta(name="author",content="kingsoft-WPS")
		meta(name="Copyright",content="kingsoft")
		meta(http-equiv="pragma",content="no-cache")
		meta(http-equiv="cache-control",content="no-cache")
		meta(http-equiv="expires",content="0")
		title yelehuan-exercise
		link(rel='stylesheet' type='text/css' href='css/test.css?__inline=true')
	body
		div#container